.chat{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #262626 ;
    height: 100vh;
}
 
.chat__input{
    border: 1px solid #42d7b7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #42d7b7;
    padding: 15px;
    border-radius: 5px ;
    margin: 0 20px 20px;
    /* border-top: 1px solid gray; */
    background-color:#262626 ;
    box-shadow: 3px 3px 5px #42d7b7;
}

.chat__input > form > input {
    padding: 15px;
    background: transparent;
    border: none;
    outline-width: 0ch;
    color: white;
    font-size: large;
    width: 100%;
}

.chat__input>form {
    flex: 1;
}

.chat__inputButton{
    display: none;
}

.chat__inputIcons >.MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
}

.MuiSvgIcon-root:hover {
    color: white;
}

.chat__messages{
    flex: 1;
    overflow-y: scroll;
    
}

.chat__messages::-webkit-scrollbar {
    display: none;
}