body {
    background-color: #262626;
}

.login{
    display: grid;
    place-items: center;
    height: 90vh;
    width: 100%;
}

.login > button {
    width: 300px;
    background-color: #42D7B7;
    color: #262626;
    font-weight: 800;
}

.login>button:hover {
    border: 1px solid #42D7B7;
    background-color: #262626;
    color: #42D7B7;
}

.login > div > img{
    object-fit: contain;
    height: 250px;
}